html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-image: linear-gradient(195deg, #fdfbfb 0, #ff2f00 12.5%, #ffbdb7 25%, #ffc6b9 37.5%, #ffffff 50%, #ffd2ca 62.5%, #ff9fa2 75%, #ecbdc1 87.5%, #ffffff 100%); */
}

/*PANEL SUPERIOR*/
header{
  background-image: linear-gradient(195deg, #ff4242 0, #de2a01 12.5%, #db1604 25%, #f23b12 37.5%, #ea1313 50%, #ec2e0c 62.5%, #f9070f 75%, #e71527 87.5%, #f01432 100%);
  font-size: 10px;
  padding: 2px 0;
  width: 100%;
  z-index: 1;
}

.generador {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px; 
}

.panel-superior {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.panel-superior :hover {
  transform: scale(1.2);
  /* border: 1px solid; */
}

button {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(195deg, #ffa0a0 0, #ff4040 12.5%, #ff4130 25%, #f23b12 37.5%, #ff1d1d 50%, #ec2e0c 62.5%, #f9070f 75%, #ff1515fa 87.5%, #ff0000 100%);
  font-size: 16px;
  }
/* FIN DEL PANEL SUPERIOR */

/*CUADRO EDITOR DE IMAGEN*/
.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor del meme */
.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; 
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin-top: 30px;
  background-image: url("imagenes/tigre.jpg"); /* Imagen de marcador */
  background-size: contain; 
  background-position: center;
  background-color: black; /* Fondo de reserva */
  background-repeat: no-repeat;
  position: relative; 
  box-sizing: border-box; 
  border: 1px solid #ccc; /* Borde para referencia visual */
}

/* Estilos para el texto en el meme */
.meme-texto {
  position: absolute; 
  text-align: center;
  font-weight: bold;
  color: black; 
  background-color: rgba(255, 255, 255, 0.8); 
  font-size: 25px;
  height: 50px; 
  width: 100%; 
  left: 0; 
  padding: 8px 0; 
  margin: 0; 
  box-sizing: border-box;
  z-index: 1;
}

#texto-superior {
  top: 0; 
}

#texto-inferior {
  bottom: 0; 
}

/* Estilo para el botón de descarga */
.descargar {
  margin-top: 40px;
  color: white;
}

.descargar:hover {
  transform: scale(1.2); 
}
/*FIN DEL CUADRO EDITOR DE IMAGEN*/

aside {
  width: 30%;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: auto; /* Mueve el panel al lado derecho */
}

#seccion-imagen h2 {
  text-align: center;
  color: #000;
}

#seccion-imagen h3 {
  text-align: left;
  color: #000;
  margin-top: 1em;
}

.img-contenedor,
.fondo-contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-contenedor label,
.fondo-contenedor label {
  display: block;
  margin: 0.5em 0 0.2em;
  color: #333;
  text-align: left;
}

.img-contenedor input[type="url"],
.fondo-contenedor input[type="color"],
.fondo-contenedor select {
  width: calc(100% - 2em);
  padding: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.fondo {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.fondo input[type="color"],
#opcion-fondo {
  width: 48%;
}

#opcion-fondo {
  margin-left: 2%;
}

/* Estilo para los filtros */
#seccion-imagen label {
  display: block;
  margin: 0.5em 0 0.2em;
  color: #333;
  text-align: left;
}

#seccion-imagen input[type="range"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

