html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* background-image: linear-gradient(195deg, #fdfbfb 0, #ff2f00 12.5%, #ffbdb7 25%, #ffc6b9 37.5%, #ffffff 50%, #ffd2ca 62.5%, #ff9fa2 75%, #ecbdc1 87.5%, #ffffff 100%); */
}

/*PANEL SUPERIOR*/
header{
  background-image: linear-gradient(195deg, #ff4242 0, #de2a01 12.5%, #db1604 25%, #f23b12 37.5%, #ea1313 50%, #ec2e0c 62.5%, #f9070f 75%, #e71527 87.5%, #f01432 100%);
  font-size: 10px;
  padding: 2px 0;
  width: 100%;
  z-index: 1;
}

.generador {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px; 
}

.panel-superior {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.panel-superior :hover {
  transform: scale(1.2);
  /* border: 1px solid; */
}

button {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(195deg, #ffa0a0 0, #ff4040 12.5%, #ff4130 25%, #f23b12 37.5%, #ff1d1d 50%, #ec2e0c 62.5%, #f9070f 75%, #ff1515fa 87.5%, #ff0000 100%);
  font-size: 16px;
  }
/* FIN DEL PANEL SUPERIOR */



