html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(195deg, #fdfbfb 0, #ff2f00 12.5%, #ffbdb7 25%, #ffc6b9 37.5%, #ffffff 50%, #ffd2ca 62.5%, #ff9fa2 75%, #ecbdc1 87.5%, #ffffff 100%);
}

/*PANEL SUPERIOR*/
header{
  background-image: linear-gradient(195deg, #ff4242 0, #de2a01 12.5%, #db1604 25%, #f23b12 37.5%, #ea1313 50%, #ec2e0c 62.5%, #f9070f 75%, #e71527 87.5%, #f01432 100%);
  font-size: 10px;
  padding: 2px 0;
  width: 100%;
  z-index: 1;
}

.generador {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px; 
}

.panel-superior {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}


button {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(195deg, #ffa0a0 0, #ff4040 12.5%, #ff4130 25%, #f23b12 37.5%, #ff1d1d 50%, #ec2e0c 62.5%, #f9070f 75%, #ff1515fa 87.5%, #ff0000 100%);
  font-size: 16px;
  }

  .panel-superior :hover {
    transform: scale(1.2);
  }
  
/* FIN DEL PANEL SUPERIOR */

/*CUADRO EDITOR DE IMAGEN*/
.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor del meme */
.meme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; 
  width: 100%;
  max-width: 350px;
  height: 350px;
  margin-top: 30px;
  background-image: url("imagenes/tigre.jpg"); /* Imagen de marcador */
  background-size: contain; 
  background-position: center;
  background-color: black; /* Fondo de reserva */
  background-repeat: no-repeat;
  position: relative; 
  box-sizing: border-box; 
  border: 1px solid #ccc; /* Borde para referencia visual */
}

/* Estilos para el texto en el meme */
.meme-texto {
  position: absolute; 
  text-align: center;
  font-weight: bold;
  color: black; 
  background-color: rgba(255, 255, 255, 0.8); 
  font-size: 25px;
  height: 50px; 
  width: 100%; 
  left: 0; 
  padding: 8px 0; 
  margin: 0; 
  box-sizing: border-box;
  z-index: 1;
}

#texto-superior {
  top: 0; 
}

#texto-inferior {
  bottom: 0; 
}

/* Estilo para el botón de descarga */
.descargar {
  margin-top: 10px;
  color: white;
}

.descargar:hover {
  transform: scale(1.2); 
}
/*FIN DEL CUADRO EDITOR DE IMAGEN*/

/*PANEL DERECHO*/
.panel-derecho {
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(195deg, #ff0000 0, #de2a01 12.5%, #db1604 25%, #f23b12 37.5%, #ff1d1d 50%, #ec2e0c 62.5%, #f9070f 75%, #ff1515fa 87.5%, #ff0000 100%);
  height: 100vh;
  width: 300px;
  font-size: 10px;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #000;
  font-size: 16px;
}

/*URL IMAGEN*/
.imagen-contenedor {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#imagen-url {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 30px;
}

.imagen-contenedor label{
  margin: 10px 0;
  font-weight: bold;
  font-size: 14px;
}

/*FONDO*/
.panel-derecho h3 {
  margin-top: 10px;
  font-size: 14px;
}

.fondo-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mezcla-fondo {
  width: 43%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 6px 12px;
  margin-bottom: 6px;
}

/*Filtros*/
.panel-derecho .filtro{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.filtros-contenedor label{
  font-size: 12px;
}


input[type="range"] {
  appearance: none;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  height: 6px;
  margin-top: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.reestablecer-filtros {
  margin-top: 20px;
}

.descargar:hover {
  transform: scale(1.2); 
}
/*FIN DEL PANEL DERECHO*/


/*PANEL IZQUIERDO*/
.panel-izquierdo {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(195deg, #ff0000 0, #de2a01 12.5%, #db1604 25%, #f23b12 37.5%, #ff1d1d 50%, #ec2e0c 62.5%, #f9070f 75%, #ff1515fa 87.5%, #ff0000 100%);
  height: 100vh;
  width: 300px;
  font-size: 10px;
  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.panel-izquierdo label {
  font-size: 14px;
}

/*Texto superior e inferior*/
.entrada-texto input[type="text"] { 
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 20px;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}

.entrada-texto input[type="checkbox"] { 
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Familia de fuente*/
.ajustes-fuente{
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 30px;
}

/*Tamaño de fuente*/
#fuente{
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}

/*Alineación*/
.fuente-alineacion {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  height: 30px;
}

.fuente-alineacion input{
  width: 20%;
  margin-top: 3px;
}

/* color de texto y fondo */
.ajustes-color{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.ajustes-contorno {
  margin-top: 10px;
}

/*Contorno*/
.contorno-texto{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

/*Espaciado*/
.ajustes-espaciado input {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 20px;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Alto de línea de texto*/
#interlineado{
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}
